<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создай персональную GIF-открытку</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="modules/Croppie/croppie.js"></script>
    <link rel="stylesheet" href="modules/Croppie/croppie.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="jiblab/playcanvas-stable.min.js"></script>
    <script src="jiblab/__settings__.js"></script>
    <script>
        GIFTEXT=''
        GIFPHOTO=''
    </script>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div class="container">
        <div id="content">
            <my-header></my-header>
            <main-content v-if="page == 'main-content'" @page-number="page = $event"
                @template-number="templateId = $event" :template="templateId"></main-content>
            <person v-if="page == 'person'" @img='img=$event' @page-number="page = $event"
                @show-modal="showModal = $event" @show-modal-apply="showModalApply = $event" :template="templateId">
            </person>
            <no-photo v-if="showModal" @show-modal="showModal = $event" @page-number="page = $event"
                :template="templateId">
            </no-photo>
            <apply-photo v-if='showModalApply' @cropped-img='croppedImg = $event'
                @show-modal-apply='showModalApply = $event' :img='img' @page-number="page = $event"
                :template="templateId">
            </apply-photo>
            <gif-ready v-if="page == 'gif-ready'" :img='croppedImg' @page-number="page = $event" :template="templateId">
            </gif-ready>

        </div>
        <footer>
            <p class="logo">Ростелеком</p>
        </footer>

        <script src="vue/top-content.js"></script>
        <script src="vue/main-content.js"></script>
        <script src="vue/personalisation.js"></script>
        <script src="vue/apply-photo.js"></script>
        <script src="vue/no-photo.js"></script>
        <script src="vue/gif-ready.js"></script>
        <script src="vue/main.js"></script>

</body>

</html>